/*index*/
@media (max-width:1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .container3 {
        display: flex;
        flex-wrap: wrap;

    }
}

@media (max-width:768px) {

    .container a {
        font-size: 18px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-shadow: none;
        padding: 10px;
    }

    .logo a,
    .link a {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        float: left;
        text-decoration: none;
        background: none;
        box-shadow: none;
        justify-content: center;
        align-items: center;
    }

    nav .link {
        align-items: center;
        padding: 0;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    /*home*/


    .side {

        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: row;

    }

    .side img {
        width: 50%;
    }

    .tipsS img {
        width: 30%;
        border-radius: 10px;
    }

    .side .tips-picture img {
        margin: 0 10px;

    }

    .containera {
        justify-content: center;
    }

    /*naa pud ni sa features*/
    /*topstudytips*/

    .study-tips {
        flex-wrap: wrap;
    }

    .tips-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .tip-card {
        flex-wrap: wrap;
        flex-direction: column;


    }

    .testimonials {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .test-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .test-card {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-tips {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-card button {
        margin-top: 15px;
        border: none;
        box-shadow: 0 0 5px;

        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    button a {
        font-size: small;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .arti-card {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Quote-tips {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }

    .quote-grid {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .quote-card img {
        width: 100%;
        height: 60%;
    }

    a {
        margin-top: 15px;
        border: none;
        box-shadow: 0 0 5px;

        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    a .download {
        font-size: smaller;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .quote-card {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .vid-tips {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vid-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vid-card {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .learn {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .learn-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .learn-card {
        flex-wrap: wrap;
        flex-direction: column;
    }


    /*sa about, pomo,mind,acti,studytips*/

    .about img {
        width: 100%;
    }

    .about-section {
        margin: 10px 10px 10px 10px;
    }


    .container3 h2 {
        text-align: center;
        font-size: 15px;
        padding: 5px;

        border-radius: 20px;
        color: #e93d93;

    }

    p {
        padding: 10px 20px 20px 10px;
        text-indent: .5in;
        text-align: justify;
        margin: 10px;
        font-size: 20px;
        border-radius: 10px;
    }

    ul {
        border-radius: 10px;
        margin-top: 10px;
        padding: 30px;
        list-style-type: none;
        font-size: 20px;
        text-align: justify;
    }


    /*mao ni sa grade level*/

    .courses {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .course-12 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px;
        gap: 30px;
    }

    .course-12 img {
        width: 100%;
    }

    .con {
        margin: 0px;

    }

    .course-12 p {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
    }


    .Inspiring p {
        column-count: 1;
    }

    .IS {
        background: #182848;
        color: white;
        padding: 2rem 0;
        text-align: center;
    }

    .container3 {
        width: 100%;
        margin: 2px;


    }

    .about img {
        width: 100%;
        align-items: center;
    }

    .our {
        width: 100%;
    }

    .container3 {
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 30px;
    }

    /*storiessss*/
    .Inspiring p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular';
        text-indent: .5in;
        text-align: justify;
        column-count: 1;
        margin: 0px;
        padding: 5px;
        box-shadow: 0 0 5px;
        border-radius: 30px;
        font-size: 18px;


    }

    .is-img img {
        width: 100%;
    }

    .Inspiring {}

    .side img {
        width: 80%;
    }

    .our p {
        font-size: small;

    }

    .our .socials img {
        width: 50px;
    }

    .our .email h4 {
        font-size: x-small;
    }

    .tips-picture .yes a {
        width: 100%;
    }
}

@media (max-width:480px) {
    .container a {
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .link a {
        color: #000000;
        font-size: 15px;
        font-weight: bold;
        float: left;
        text-decoration: none;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    /*home*/


    .side {

        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;

    }

    .side img {
        width: 50%;
    }

    .tipsS img {
        width: 30%;
        border-radius: 10px;
    }

    .side .tips-picture img {
        margin: 0 10px;

    }

    .containera {
        justify-content: center;
    }

    /*naa pud ni sa features*/
    /*topstudytips*/

    .study-tips {
        flex-wrap: wrap;
    }

    .tips-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .tip-card {
        flex-wrap: wrap;
        flex-direction: column;


    }

    .testimonials {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .test-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .test-card {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-tips {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arti-card button {
        margin-top: 15px;
        border: none;
        box-shadow: 0 0 5px;

        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    button a {
        font-size: small;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .arti-card {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Quote-tips {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }

    .quote-grid {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .quote-card img {
        width: 100%;
        height: 60%;
    }

    a {
        margin-top: 15px;
        border: none;
        box-shadow: 0 0 5px;

        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    a .download {
        font-size: smaller;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .quote-card {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .vid-tips {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vid-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vid-card {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .learn {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .learn-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .learn-card {
        flex-wrap: wrap;
        flex-direction: column;
    }


    /*sa about, pomo,mind,acti,studytips*/

    .about img {
        width: 100%;
    }

    .about-section {
        margin: 10px 10px 10px 10px;
    }


    .container3 h2 {
        text-align: center;
        font-size: 15px;
        padding: 5px;

        border-radius: 20px;
        color: #e93d93;

    }

    p {
        padding: 10px 20px 20px 10px;
        text-indent: .5in;
        text-align: justify;
        margin: 10px;
        font-size: 15px;
        border-radius: 10px;
    }

    ul {
        border-radius: 10px;
        margin-top: 10px;
        padding: 30px;
        list-style-type: none;
        font-size: 15px;
        text-align: justify;
    }

    blockquote {
        font-size: 15px;
    }

    /*mao ni sa grade level*/
    .courses {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course-11 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course-12 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10px;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .course-12 img {
        width: 100%;
    }

    .con {
        margin: 0px;

    }

    .course-12 p {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
    }


    .Inspiring p {
        column-count: 1;
    }

    .IS {
        background: #182848;
        color: white;
        padding: 2rem 0;
        text-align: center;
    }

    .container3 {
        width: 100%;
        margin: 2px;


    }

    .about img {
        width: 100%;
        align-items: center;
    }

    .our {
        width: 100%;
    }

    .container3 {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 30px;
        flex-direction: column;
        justify-content: center;
    }

    /*storiessss*/
    .Inspiring p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular';
        text-indent: .5in;
        text-align: justify;
        column-count: 1;
        margin: 0px;
        padding: 5px;
        box-shadow: 0 0 5px;
        border-radius: 30px;
        font-size: 15px;


    }

    .is-img img {
        width: 100%;
    }

    .Inspiring {}

    .side img {
        width: 80%;
    }

    .our p {
        font-size: small;

    }

    .our .socials img {
        width: 50px;
    }

    .our .email h4 {
        font-size: x-small;
    }

    .tips-picture .yes a {
        width: 100%;
    }

    .container3 p {
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .container3 {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        gap: 10px;
        margin-bottom: 5px;
        margin-left: 0px;
    }

}